.title h1 {
  text-align: center;
  font-weight: bolder;
}
.title p {
  background-color: gold;
  color: black;
  opacity: .8;
  box-shadow: 1px 1px 10px 0px goldenrod;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  }

 .body{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: aliceblue;
  background-image: url("./backdrop.jpg");
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.about {
    background-color: gold;
    color: black;
    opacity: .8;
    box-shadow: 1px 1px 10px 0px goldenrod;
    font-size: medium;
    font-weight: bolder;
}

.card-body {
    font-size: medium;
    font-weight: bolder;
    padding: 1rem;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 1rem);
    margin-bottom: 1.5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0px goldenrod;
}

.card:hover {
    background-color: gold;
    color: black
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mission {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.centered-button {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: gold;
}

.centered-button:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% -1rem);
}
  .container { width: 100%
             }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}
  .container{
    width: 100%;
    
  }
.recipe-details {
    background-color: black;
    opacity: .8;
}

.description {
    font-size: medium;
    font-weight: bolder;
}

.recipe-image {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.ingredients-container ul {
    text-align: center;
    list-style: none;
}

.ingredients-container {
    color: white;
    font-weight: bolder;
}

.ingredients {
    padding-left: 30px;
}

.steps-container {
    color: white;
    font-weight: bolder;
    font-size: medium;

}

.steps-container ol {
  text-align: center;
    list-style: none;
}

.steps {
    padding-left: 30px;
}

.back-to-recipes {
    color: gold;
}
